<div class="row">
  <div class="columns small-12 medium-6 medium-centered">
    <h2>Create a New Group</h2>
    <%= render partial: 'groups/form', locals: { button_text: "Create a New Group" } %>
  </div>
</div>
