div.block {
  margin-right: 10px;
}

.block .time {
  font-size: 1.15em;
}

.block p {
  margin: 0;
}

.block .delete-button {
  margin-top: 10px;
  margin-bottom: 0;
}

.block .time {
  width: 200px;
}

.block .slot {
  margin: 2px;
  border-left: 1px dashed black;
}
